html,
body,
h2,
p,
a,
ul,
section {
   margin: 0;
   padding: 0;
}

a,
ul,
li {
   text-decoration: none;
   color: inherit;
   list-style-type: none;
}

main {
   background-image: url(../imagens/fundo.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 100px;
}

/* BODY */

body {
   display: flex;
   flex-direction: column;
}

/* BODY */

/* HEADER */
.header {
   display: flex;
   max-height: 240px;
   background-color: #000;
   justify-content: space-around;
}

.atendimento {
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.atendimento>div {
   display: flex;
   align-items: center;
}

.contato>div {
   display: flex;
   align-items: center;
}

.logo>img {
   height: 240px;
}

.contato {
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.navPaginas {
   display: flex;
   padding: 0 200px 0 200px;
   background-color: #DEA659;
   height: 70px;
   justify-content: space-around;
   align-items: center;
}

/* HEADER */

/* SECTION */

.sectionEsquerda,
.sectionDireita {
   width: 20%;
   height: 100%;
}

.sectionCentral {
   display: flex;
   justify-content: center;
   padding: 20px;
   width: 60%;
}

/* SECTION */

/* MAIN */

main {
   min-height: 750px;
   display: flex;
   flex-direction: row;
}

/* MAIN */

/* FOOTER */

footer {
   background-color: #DEA659;
}

.linksPolitica>ul {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 50px;
}

.direitos {
   display: flex;
   justify-content: center;
}

/* FOOTER */