html,
body,
h2,
p,
a,
ul{
   margin: 0;
   padding: 0;
}

a,
ul,
li {
   text-decoration: none;
   color: inherit;
   list-style-type: none;
}

main {
   min-height: 750px;
}

/* HEADER */
.header {
   display: flex;
   max-height: 240px;
   background-color: #000;
   justify-content: space-around;
}

.atendimento {
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.atendimento>div{
   display: flex;
   align-items: center;
}

.contato>div{
   display: flex;
   align-items: center;
}



.logo>img {
   height: 240px;
}

.contato {
   color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.navPaginas {
   display: flex;
   padding: 0 200px 0 200px;
   background-color: #DEA659;
   height: 70px;
   justify-content: space-around;
   align-items: center;
}

/* HEADER */

/* MAIN */


.veiculos img {
   margin: auto;
   height: 100%;
   width: 100%;

}


.veiculos {
   width: 940px;
   margin: 0 auto;
   padding: 50px 0;
}

.veiculos li {
   display: inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 0 1.5%;
   border-width: 2px;
   border-style: solid;
   box-sizing: border-box;
   border-color: #000000;
   border-radius: 15px;
}

.veiculos h2 {
   font-size: 30px;
   font-weight: bold;
}

.veiculos li:hover {
   border-color: #C78C19;
}

.veiculos li:active {
   border-color: #088C19;
}
.descricao {
   font-size: 18px;
}
.preco {
   font-size: 22px;
   font-weight: bold;
   margin-top: 10px;
}

/* MAIN */

/* FOOTER */

footer {
   background-color: #E3C79F;
}

.linksPolitica>ul {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 50px;
}

.direitos {
   display: flex;
   justify-content: center;
}

/* FOOTER */




